.TopControl {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-right: 5vw;
    width: 100vw;
}

.ButtonsRow {
    top: 0;
    position: relative;
}

.CopyAlert {
    margin: 0;
    text-align: left;
    border-radius: 10px;
}

body {
    transition: all 0.5s ease;
}