.NewEventButton {
    border-radius:10px;
    height: 38px;
    margin-right: 20px;
}

.Share {
    height: 38px;
    text-align:center;
    margin-right:5px;
    border-radius: 10px;
}

.TopControl {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    width: 100vw;
}

.CopyAlert {
    margin: 0;
    text-align: left;
    border-radius: 10px;
}

body {
    transition: all 0.5s ease;
}