@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.TopPanel {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: left;
    margin-left: 6%;
    margin-right: 5%;
}
.MoreButton {
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
}

body {
    padding-top: 80px;
}

