.ProfilePage {
    margin-left: 10%;
    text-align: left;
}

.CopyAlert {
    width: 200px;
}

.LinkBadge {
    height: 40px;
    font-size: 18px;
}

.EditProfile {
    margin: auto;
    text-align: center;
    width: 60%;
}

.ButtonCancel {
    margin-left: 15px;
}

@media screen and (max-width: 800px) {
    .EditProfile{
        width: 80%;
    }
}