.submitButton {
    background-color: #4CAF50;
}

.submitButton :focus {
    background-color: red;
}

.FormGroup Label {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 15px;
}

.FormGroupDate Label {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 15px;
}

.FormGroupDate .form-control{
    margin-left: 15px;
}

.NeverEndsLabel {
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size: 15px;
    margin-left: 10px;
}

.warning {
    color: red
}

.CusModal {
    max-width: 1600px;
    width: 70%;
    height: 100%;
    padding: 20px;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    .CusModal {
        width: 100%;
    }
}
@media screen and (min-width: 601px) and (max-width: 1199px) {
    .CusModal {
        width: 90%;
    }
}