.ProfileContainer {
    width: 50%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.ProfileEditBtn {
    margin-right: 10px;
}

.ProfilePageContainer {
    display: grid;
    place-items: center;
    width: 100vw;
}

.CopyAlert {
    width: 200px;
}

.LinkBadge {
    font-size: 18px;
}

.EditProfile {
    margin: auto;
    text-align: center;
    width: 50%;
}

.EditProfileFormGroup {
    align-items: flex-start;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ButtonCancel {
    margin-left: 15px;
}

@media screen and (max-width: 800px) {
    .EditProfile{
        width: 80%;
    }
}