@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.UserInfoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.UserInfoControl {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    font-family: 'Noto Sans JP', sans-serif;
}

.Collspse {
    width: 50vw;
    text-align: center;
}

.Card {
    border-radius: 10px;
    margin: 5px;
}

body {
    padding-top: 80px;
}

@media screen and (max-width: 500px) {
    .TopPanelControl {
        justify-content: center;
    }
}

