@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.topPanel {
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
.MoreButton {
    border-radius: 10px;
}
body {
    padding-top: 80px;
}

