.NewEventButton {
    margin-top: 5px;
    margin-bottom:5px;
    border-radius:10px;
}
.Share {
    text-align:center;
    margin:auto;
    border-radius: 10px;
}

.CopyAlert {
    text-align:center;
    margin:auto;
    border-radius: 10px;
}

@media screen and (min-width: 500px) {
    .NewEventButton {
        margin-left: 5px;
        text-align: right;
        right: 5%;
        position: absolute;
        top: 80px;
    }
}

body {
    transition: all 0.5s ease;
}